body {
	min-width: 1170px;

	font: 14px/24px Muli, Arial, sans-serif;
	color: #8c8c8c;
}

img {
	max-width: 100%;
	height: auto;
}

.inner {
	width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.button {
	position: relative;

	display: inline-block;
	padding: 9px 35px;

	font: 700 14px/24px Montserrat, Arial, sans-serif;
	vertical-align: top;
	text-decoration: none;
	color: #757575;

	background: #ffffff;
	border-radius: 35px;
}

.button--decorative {
	padding-right: 43px;
}

.button--decorative::after {
	content: '';

	position: absolute;
	right: 15px;
	top: 18px;

	width: 11px;
	height: 8px;

	background: url('../img/spritesheet.png') -210px -48px;
}

.button--transparent {
	background: none;
	box-shadow: inset 0 0 0 2px #ffffff;
	color: #ffffff;
}

.default-title {
	font: 700 22px/48px Montserrat, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #444444;
}

.default-paragraph {
	font: 400 14px/24px Muli, Arial, sans-serir;
	text-align: center;
	color: #757575;
}

.page-header {
	padding-bottom: 239px;

	color: #ffffff;

	background: url('../img/bg-header.jpg') no-repeat top center;
	background-size: cover;
}

.page-header__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 1140px;
	padding: 0 15px;
	padding-top: 60px;
	margin: 0 auto;
	margin-bottom: 295px;
}

.logo {
	max-width: 240px;
}

.page-header__navigation {
	max-width: 900px;
}

.page-navigation__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	list-style: none;
}

.page-navigation__item {
	margin-left: 60px;
	margin-bottom: 15px;
}

.page-navigation__item:first-child {
	margin-left: 0;
}

.page-navigation__link {
	font: 400 20px/20px Montserrat;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.page-navigation__link:hover,
.page-navigation__link:focus {
	color: #ff514d;
}

.page-header__promo {
	width: 680px;
	padding-left: 390px;
	padding-right: 65px;
	margin: 0 auto;
}

.promo__subtitle {
	margin: 0;
	margin-bottom: 15px;

	font: 400 30px/30px "Playfair Display", "Arial", sans-serif;
}

.promo__title {
	margin: 0;
	margin-bottom: 20px;

	font: 900 55px/74px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.promo__description {
	margin: 0;
	margin-bottom: 41px;

	font: 400 14px/24px Muli, Arial, sans-serif;
}

.advantages {
	display: flex;
	justify-content: space-between;
	width: 1140px;
	margin: 0 auto;
	margin-top: -81px;
	margin-bottom: 126px;
}

.advantages__description {
	position: relative;

	box-sizing: border-box;
	width: 360px;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 112px;
	overflow: hidden;

	color: #ffffff;

	background: url('../img/bg-advantages.jpg') no-repeat center;
	background-size: cover;

}

.advantages__description::after {
	content: '';

	position: absolute;
	right: -25px;
	bottom: -35px;

	width: 183px;
	height: 177px;

	background: url('../img/bg-decorative.png') no-repeat center;
}

.advantages__information {
	box-sizing: border-box;
	width: 780px;
	padding: 0 30px;
	padding-top: 120px;
	padding-bottom: 115px;

	background: #ffffff;
	box-shadow: 0 4px 35px 0 rgba(218, 218, 218, 0.77);
}

.advantages__title {
	margin: 0;
	margin-bottom: 20px;

	font: 700 20px/35px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.advantages__description-information {
	margin: 0;

	font: 400 14px/24px Muli, Arial, sans-serif;
}

.advantages__link {
	position: absolute;
	left: -20px;
	bottom: 25px;
}

.list-advantages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;

	list-style: none;
}

.list-advantages__item {
	position: relative;

	width: 275px;
	padding-left: 75px;
	margin-bottom: 35px;
}

.list-advantages__item::before {
	content: '';
	position: absolute;
	left: 10px;
	top: 0;

	background: url('../img/spritesheet.png');
}

.list-advantages__item--home::before {
	width: 47px;
	height: 47px;
	background-position: -105px -31px;
}

.list-advantages__item--thermometer::before {
	width: 34px;
	height: 64px;
	background-position: -69px -152px;
}

.list-advantages__item--equalizer::before {
	width: 44px;
	height: 45px;
	background-position: -51px -5px;
}

.list-advantages__item--setting::before {
	width: 44px;
	height: 43px;
	background-position: -208px -99px;
}

.list-advantages__title {
	margin: 0;
	margin-bottom: 25px;

	font: 700 18px/22px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
	color: #404040;
}

.list-advantages__description {
	margin: 0;

	font: 400 14px/24px Muli, Arial, sans-serif;
	color: #757575;
}

.value {
	background: url('../img/bg-tablet-.jpg') no-repeat right bottom;
}

.value__column {
	position: relative;

	width: 765px;
	margin-left: auto;
}

.value__column::before {
	content: '';

	position: absolute;
	left: -566px;
	bottom: 0;

	width: 540px;
	height: 592px;

	background: url('../img/bg-man.jpg') no-repeat center;
}

.value__title {
	margin: 0;
	margin-bottom: 15px;
	text-align: left;
}

.value__description {
	margin: 0;
	text-align: left;
}

.value__container {
	position: relative;
	min-height: 500px;

	background: url('../img/bg-circle.png') no-repeat 83px 69px;
}

.value__container * {
	position: absolute;
}

.value__position-title {
	left: 311px;
	top: 94px;

	font: 26px/32px Muli, Arial, sans-serif;
	text-transform: capitalize;
	color: #009688;
}

.value__subtitle {
	left: 316px;
	top: 149px;

	font-size: 12px;
	line-height: 18px;
	color: #757575;
}

.value__progress {
	top: 49px;
	left: 96px;

	font: 40px/60px Muli, Arial, sans-serif;
	color: #009688;
}

.value-paragraph {
	width: 200px;
}

.value-paragraph--1 {
	left: 4px;
	top: 119px;
}

.value-paragraph--2 {
	left: 531px;
	top: 187px;
}

.value-paragraph--3 {
	left: 121px;
	top: 317px;
}

.information {
	padding-top: 115px;
	padding-bottom: 130px;

	color: #ffffff;

	background: #009688 url('../img/bg-pattern.png');
}

.information__inner {
	text-align: center;
}

.information__title {
	margin: 0;
	margin-bottom: 10px;

	font: 700 40px/64px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.information__description {
	padding: 0 200px;
	margin: 0;
	margin-bottom: 40px;
}

.information__button {
	padding: 15px 50px;

	font-size: 18px;
}

.information__button:first-child {
	margin-right: 30px;
}

.services {
	padding-top: 132px;
	padding-bottom: 175px;

	background: url('../img/bg-calculator.jpg') no-repeat right center;
}

.services__title {
	margin: 0;
	margin-bottom: 5px;
}

.services__description {
	margin: 0;
	margin-bottom: 50px;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;

	list-style: none;
}

.services__list-item {
	position: relative;

	width: 300px;
	padding-left: 60px;
	margin-bottom: 50px;
}

.services__list-item::before {
	content: '';

	position: absolute;
	top: 10px;
	left: 0;
	background: url('../img/spritesheet.png');
}

.services__list-item--home::before {
	width: 49px;
	height: 45px;
	background-position: -5px -88px;
}

.services__list-item--portfolio::before {
	width: 48px;
	height: 40px;
	background-position: -150px -133px;
}

.services__list-item--graphic::before {
	width: 54px;
	height: 28px;
	background-position: -5px -183px;
}

.services__list-item--wallet::before {
	width: 41px;
	height: 33px;
	background-position: -209px -5px;
}

.services__list-item--clock::before {
	width: 36px;
	height: 53px;
	background-position: -5px -5px;
}

.services__list-item--libra::before {
	width: 50px;
	height: 50px;
	background-position: -64px -88px;
}

.services__list-title {
	margin: 0;
	margin-bottom: 9px;

	font: 700 18px/38px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
	color: #404040;
}

.services__list-description {
	margin: 0;

	color: #757575;
}

.different-services {
	padding-bottom: 89px;
}

.different-services__title {
	margin: 0;
	margin-bottom: 5px;
}

.different-services__description {
	margin: 0;
	margin-bottom: 118px;
}

.different-services__item-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.different-services__item {
	width: 360px;
	margin-bottom: 1px;
}

.different-services__item-image {
	position: relative;
	z-index: 1;

	width: 361px;
	height: 236px;
}

.different-services__container {
	position: relative;
	z-index: 5;

	box-sizing: border-box;
	width: 310px;
	padding: 20px;
	margin: 0 auto;
	margin-top: -95px;

	background: orange;
}

.different-services__container::before {
	content: '';

	position: absolute;
	left: -1px;
	top: -1px;
	right: -1px;
	bottom: -1px;
	z-index: -1;

	background: linear-gradient(to bottom, #d9d9d9, #ffffff);
}

.different-services__container::after {
	content: '';

	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	z-index: -1;

	background: #ffffff;
}

.different-services__item-title {
	margin: 0;

	font: 700 18px/24px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
	color: #444444;
}

.different-services__experience {
	display: block;
	margin-bottom: 20px;

	font: 400 12px/24px Montserrat, Arial, sans-serif;
	color: #444444;
}

.different-services__item-description {
	margin: 0;
}

.page-footer {
	padding-top: 84px;

	background: #313131;
	color: #969595;
}

.page-footer h2 {
	margin: 0;
	margin-bottom: 34px;

	font: 700 14px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
}

.page-footer__inner {
	display: flex;
	align-items: flex-start;
	padding-bottom: 70px;
}

.page-footer__news {
	width: 263px;
	margin-right: 30px;
}

.news__list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.news__item {
	margin-bottom: 45px;
}

.news__link {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	text-decoration: none;
	color: #ffffff;
}
.news__link:hover,
.news__link:focus {
	color: orange;
}

.news__link img {
	width: 63px;
	height: 63px;
}

.news__column {
	width: 186px;
}

.news__item-title {
	margin: 0;

	font: 400 13px/20px Muli, Arial, sans-serif;
	text-transform: capitalize;
}

.news__date {
	font: 400 10px/20px Muli, Arial, sans-serif;
	color: #6b6b6b;
}

.page-footer__navigation {
	width: 262px;
	margin-right: 30px;
}

.company-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

h2.company-navigation__title {
	width: 100%;
	margin-bottom: 28px;
}

.company-navigation__item {
	margin-bottom: 12px;
}

.company-navigation__link {
	font: 13px Muli, Arial, sans-serif;
	text-decoration: none;
	text-transform: capitalize;
	color: #6b6b6b;
}

.company-navigation__link:hover,
.company-navigation__link:focus {
	color: #ffffff;
}

.company-navigation__list {
	width: 105px;
	padding: 0;
	margin: 0;

	list-style: none;
}

.page-footer__subscribe {
	width: 263px;
	margin-right: 30px;
}

h2.subscribe__title {
	margin-bottom: 29px;
}

.subscribe__description {
	margin: 0;
	margin-bottom: 14px;

	font: 13px/22px Muli, Arial, sans-serif;
}

.subscribe__form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.subscribe__input {
	box-sizing: border-box;
	width: 217px;
	padding: 6px 20px;
	border: none;

	font: 14px/22px Muli, Arial, sans-serif;

	background: #f5f5f5;
}
.subscribe__input:focus {
	outline-color: #009688;
}
.subscribe__submit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	border: none;

	background: #009688;
	cursor: pointer;
}
.subscribe__submit::before {
	content: '';

	width: 12px;
	height: 9px;

	background: url('../img/spritesheet.png') -188px -56px;
}
.subscribe__submit:hover,
.subscribe__submit:focus {
	background: orange;
}

.subscribe__privacy {
	margin: 0;
	margin-bottom: 45px;

	font: 12px/22px Muli, Arial, sans-serif;
}

.social-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 263px;
	padding: 0;
	margin: 0;

	list-style-type: none;
}

.social-navigation__item {
	margin-right: 9px;
}

.social-navigation__item:nth-child(6n) {
	margin-right: 0;
}

.social-navigation__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 33px;

	background: #2e2e2e;
}

.social-navigation__link:hover {
	background: #31aae2;
}

.social-navigation__link::before {
	content: '';

	background: url('../img/spritesheet.png');
}

.social-navigation__link--twitter::before {
	width: 16px;
	height: 16px;
	background-position: -231px -48px;
}

.social-navigation__link--twitter:hover::before,
.social-navigation__link--twitter:focus::before {
	background-position: -5px -152px;
}

.social-navigation__link--google::before {
	width: 16px;
	height: 16px;
	background-position: -157px -5px;
}

.social-navigation__link--google:hover::before,
.social-navigation__link--google:focus::before {
	background-position: -183px -5px;
}

.social-navigation__link--facebook::before {
	width: 16px;
	height: 16px;
	background-position: -105px -5px;
}

.social-navigation__link--facebook:hover::before,
.social-navigation__link--facebook:focus::before {
	background-position: -131px -5px;
}

.social-navigation__link--linkedin::before {
	width: 16px;
	height: 16px;
	background-position: -162px -83px;
}

.social-navigation__link--linkedin:hover::before,
.social-navigation__link--linkedin:focus::before {
	background-position: -124px -109px;
}

.social-navigation__link--youtube::before {
	width: 16px;
	height: 16px;
	background-position: -31px -152px;
}

.social-navigation__link--youtube:hover::before,
.social-navigation__link--youtube:focus::before {
	background-position: -113px -152px;
}

.social-navigation__link--instagram::before {
	width: 16px;
	height: 16px;
	background-position: -162px -31px;
}

.social-navigation__link--instagram:hover::before,
.social-navigation__link--instagram:focus::before {
	background-position: -162px -57px;
}

.page-footer__about {
	width: 262px;
}

.about {

}

h2.about__title {
	margin-bottom: 30px;
}

.about__description {
	margin: 0;
	margin-bottom: 13px;

	font: 13px/22px Muli, Arial, sans-serif;
}

.about__list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.about__list li {
	position: relative;

	border-top: 1px solid #3c3c3c;
	padding-top: 9px;
	padding-bottom: 12px;
	padding-left: 28px;

	font: 13px/22px "Open Sans", Arial, sans-serif;
}

.about__list li::before {
	content: '';

	position: absolute;
	left: 2px;
	top: 13px;

	background-image: url('../img/spritesheet.png');
}

.about__email::before {
	width: 16px;
	height: 14px;
	background-position: -150px -109px;
}

.about__phone::before {
	width: 13px;
	height: 14px;
	background-position: -188px -75px;
}

.about__address::before {
	width: 9px;
	height: 15px;
	background-position: -188px -31px;
}

.page-footer__bottom-navigation {
	color: #6b6b6b;

	background: #292929;
}

.bottom-navigation__list {
	display: flex;
	justify-content: flex-end;
	width: 1140px;
	padding: 0 15px;
	margin: 0 auto;

	list-style: none;
}

.bottom-navigation__item {
	margin: 20px 0;
	margin-left: 25px;
}

.bottom-navigation__link {
	font: 13px Muli, Arial, sans-serif;
	text-decoration: none;
	color: #6b6b6b;
}

.bottom-navigation__link:hover,
.bottom-navigation__link:focus {
	color: #31aae2;
}

